{{#link-to 'answer' answer.id}}{{answer.question.answerContent}}{{/link-to}}

<li>{{answer.answerContent}}<span class= 'byAuthor'> by {{answer.author}}</span></li>
<!--TOPIC==>{{answer.question.answerContent}} or {{question.content}}|| {{answer.question}}  -->
