{{#link-to 'answer' answer.id}}{{answer.question.answerContent}}{{/link-to}}

<li>{{answer.answerContent}} by {{answer.author}}</li>
<!--TOPIC==>{{answer.question.answerContent}} or {{question.content}}|| {{answer.question}}  -->
