{{#if addNewAnswer}}
  <h2>New Answer</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="answerContent">Answer Content</label>
        {{input value=answerContent id ='answerContent'}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id ='author'}}
      </div>
      <button {{action 'save1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
