<div class="container">
  <h2> Question: "{{question.content}}"</h2>
  <button class='addToFavorite-button' {{action 'addToFavorite' question}}>Add to Favorite List</button>
  <h4>Notes: {{question.notes}}</h4>

  <h3>Answers: </h3>
  <ul>
    {{#each sortedAnswers as |answer|}}
      <li>{{answer.answerContent}} || on {{ answer.date}}{{#link-to 'answer' answer.id}}  More details{{/link-to}}</li>

    {{/each}}
  </ul>

  <br>
  <button class='delete-button'{{action 'destroyQuestion' question}}>Delete Question!</button>
</div>
