<h2>Katie's message board</h2>

<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
    <hr>
  {{/each}}
</ul>

{{new-answer save2='save3'}}


<h1>QUESTIONS</h1>
<ul>
  {{#each model.questions as |question|}}
    {{question.content}}
    {{question.author}}
    {{question.notes}}
    <hr>
  {{/each}}
</ul>
